$color-white: #FFFFFF;
$color-white-second: #F0EDF7;
$color-white-dark: #F2F2F2;

$color-gray: #828282;
$color-gray-light: #E0E0E0;
$color-gray-light-dark: #C8C8C8;
$color-gray-dark: #333333;
$color-gray-dark-light: #4F4F4F;

$color-black: #000000;

$color-blue: #2726e8;
$color-blue-light: #2726e8;

$color-yellow: #F2C94C;

$transition: 400ms;
$transition-long: 800ms;

$font-first: 'Open Sans', sans-serif;
$font-second: 'Ubuntu', sans-serif;

$box-shadow: 0px 4px 20px rgba($color: $color-black, $alpha: 0.1);;

$circle-total: 500;
$circle-orb-size: 300px;
$circle-particle-size: 6px;
$circle-time: 14s; 
$circle-base-hue: 0;